/* Frontend/src/Components/UsernameScreen.css */
.UsernameScreen-Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg1);
}

.userNameSetter {
    background-color: var(--bg2);
    padding: 40px;
    border-radius: 10px;
    border: 2px solid var(--ac1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.userNameSetter h2 {
    color: var(--tx1);
}

.userNameSetter p {
    color: var(--tx2);
}

.userNameSetter input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--ac1);
    background-color: var(--bg1);
    color: var(--tx1);
    font-size: 1.1rem;
    outline: none;
}

.UsernameSetBtn {
    padding: 15px;
    background-color: var(--ac1);
    color: var(--bg1);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.UsernameSetBtn:hover {
    background-color: var(--tx1); /* Turn white on hover */
    transform: scale(1.02);
}